@model SpareShare.Models.DetailsViewModel

@{
    ViewBag.Title = "查看受助请求";
}
@section head{
    <script>
        $(function(){
            images();
            $(window).resize(function () {
                images();
            })
        });
        function images(){
            var imgwidth=$('.jqthumb:first').width()*0.7;
            $('.jqthumb img').jqthumb({
                classname:"img-thumbnail",
                width : imgwidth,//宽度
                height : imgwidth,//高度
            });
        }
    </script>
    <style>
        #SS {
            height: 40px;
            display: inline;
            opacity: 0.4;
        }

            #SS:hover {
                opacity: 1;
            }

        .quest .quest-name {
            vertical-align: middle;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }

        .quest .quest-type {
            color: #999999;
            vertical-align: middle;
            margin-left: 20px;
        }

        .reason {
            margin-top: 5px;
        }

            .reason .reason-text {
                vertical-align: middle;
                font-size: 15px;
            }

        .info {
            color: #999999;
        }

        .row {
            margin: 0 0 40px 0;
        }

            .row .line {
                width: 100%;
                border: solid #acacac;
                border-width: 1px 0 0 0;
                position: relative;
                left: 0;
                top: 19px;
                z-index: -1;
            }

            .row .refuse {
                margin: 20px;
                color: indianred;
                font-weight: bold;
            }

        .row-title {
            padding-right: 10px;
            font-size: 24px;
            background-color: white;
            position: relative;
            left: 0;
            top: 0;
            z-index: 3;
        }

            .row-title img {
                height: 24px;
                width: 24px;
                margin-right: 15px;
                vertical-align: middle;
            }

        .thing-right {
            border-left: 1px dashed #acacac;
        }

        .thing-left dl {
            margin-top: 0;
        }

            .thing-left dl dt {
                color: #999999;
                font-weight: normal;
                font-size: 12px;
                width: 50px;
                text-align: center;
                margin: 5px 15px 5px 5px;
            }

            .thing-left dl dd {
                margin-left: 0px;
                line-height: 26.8px;
            }
    </style>
}
<h2> </h2>
@*受助请求块*@
<div class="row">
    <div class="line"></div>
    <span class="row-title"><img src="~/Files/wenhao.png" /><span style="vertical-align:middle;">受助请求</span></span>
    <div class="row" style="margin:10px 0 0 0;">
        <div class="quest">
            <span class="quest-name">@Model.Quest.Name</span>
        </div>
        <div class="reason">
            <span class="reason-text">@Model.Quest.Detail</span>
        </div>
        <p></p>
        <div class="info">
            <span>
                类别：@Model.Quest.Type
            </span><br />
            <span style="float:right;margin-left:3px;">发布于@(PublicFunction.TransTime(Model.Quest.ReleaseTime.Value))</span>
            <a href="~/User/Credit/@(Model.Receiver.UserId)" style="float:right"><span class="glyphicon glyphicon-user"></span> @Model.Receiver.Username </a>
        </div>
    </div>
</div>

@using (Html.BeginForm("QuestsDetail", "Donate", new { id = Model.Quest.Id }, FormMethod.Post, new { id = "AssessForm" }))
{
    <input type="submit" value="接受" name="action" class="btn btn-success" />
    <input type="submit" value="返回" name="action" class="btn btn-link" />
}